# Archivos del sistema
.DS_Store
libredte/TestResults/
libredte/.vs/
libredte/bin/
libredte/obj/
libredte/packages/
libredte/Program.cs
libredte/nuget.exe
libredte/*.nupkg
libredte/*.nuspec

# Archivos de tests
tests/TestEnv.cs
tests/readme.txt
tests/bin/
tests/obj/
tests/Connected Services/
tests/nuget.exe